$mainColor: #57606f;

h1{
    text-align: center;
    margin: 0;
    padding: 3vh;
    color: white;
    height: 10%;
    box-sizing: border-box;
}

.Panel{
    height: 100%;
    width: 100%;
    background-color: $mainColor;
}

.scrollable{
    overflow: scroll;
    overflow-x: hidden !important;
    height: 90%;
    box-sizing: border-box;
    }

.IdegesitoFos{
    height: 90%;    
}
.table{
    box-sizing: border-box;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px; 
    width: 70%;
    margin: 0 auto;
    background-color: #f1f2f6;
    padding: 2rem 4rem 0 4rem;
    height: 100%;
    
    .table_row{
        display: block;
        width: 98%;
        justify-content: space-evenly;
        display: flex;
        margin: .6rem auto;
        background-color: $mainColor;
        border-radius: 10px;
        text-decoration: none;
        div{
            color: white;
            width: 20%;
            display: inline-block;
            padding: 1.2rem;
            &.role{
                text-align: center;
            }
        }

        &.head{
            border-bottom: 2px solid black !important;
            background-color: transparent !important;
            border-radius: 0;

            div{
                padding-bottom: 0.3rem;
                text-align: center;
                color: black;
                font-weight: 600;
                font-size: 1.4rem;
            }
        }
    }
}